<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Adicionar Pessoa</title>
</head>
<body>
    <div class="container">
        <h1>Adicionar Pessoa</h1>
        <form method="POST">
            Nome: <input type="text" name="Nome"><br>
            Idade: <input type="number" name="Idade"><br>
            Contato: <input type="text" name="Contato"><br>
            <button type="submit">Adicionar</button>
        </form>
    </div>
</body>
</html>
